*{

    margin: 0;
    padding: 0;    
    box-sizing: border-box;


}

body{

    background: blue;    
}

.navegacion{

    border: 1px solid white;
    background: white;
    margin-bottom:30px;
    padding: 10px;
    
    

}

.container{

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;


}

.formulario{

    background: white;
    margin-right: 40px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

}

input{

margin: 15px;
width: 90%;
height: 30px;
padding: 5px 10px;
border-radius: 4px;
border: 1px solid;


}

.textD{

    padding: 9px 10px;
    margin: 15px;
    width: 250px;
    border-radius: 4px;
}


button{


    margin: 15px;
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border:0px solid;
    background: rgb(85, 243, 85);
    cursor: pointer;

}

.cajatabla{

    border-radius: 10px;
    background: white;
    flex-grow:1 ;

}

.tabla{

    width: 100%;
    table-layout: fixed;
    border-collapse:collapse ;
    

}

th{

    padding: 5px 50px; 
    padding-bottom:20px;
    border-bottom: 1px solid;
    
}


td{

    padding: 5px 50px;
    padding-top: 30px;
    padding-left: 130px;


}

h3{

    text-align: center;


}
